* {
    box-sizing: border-box;
}

p {
  font-family: 'IBM Plex Serif', serif;
  color: black;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.smalltext {
    padding: 0 20 0 20;
    font-size: 16px;
    text-align: center;
}

p.cardText {
  font-family: "Work Sans", sans-serif;
  color: black;
  font-size: 30px;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

img {
   display: block;
   width: 100%;
   max-width: 500px; /*actual image width*/
   height: auto; /* maintain aspect ratio*/
   margin: auto; /*optional centering of image*/
   border-radius: 3px;
}

.overlay {
     opacity:0; /* Completely invisible. */ 
     transition: 0.2s; 
    border-radius: 3px;
    background-color: white;
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.overlay:hover{
    opacity:1; /* Completely visible. */
}

nav {
  display: flex;
  justify-content: flex-end;
}

ul {
  display: flex;
  list-style: none;
}

li {
  padding: 0 1.5em 0 0;
}

a {
  text-decoration: none;
  font-family: 'IBM Plex Serif', serif;
  color: black;
  font-size: 20px;
}

a.underscore:hover {
  border-bottom: 2px solid black; //#A0EBEC
}

.welcome {
    display: flex;
  justify-content: center;
  flex-direction: column;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  margin: 0;
  padding: 0;
  background: #E0EFF2;
}

.skewedBox {
  background: white;
  padding: 100px 0;
  transform: skew(0deg, -6deg) translateY(-120px);
}

.main {
  max-width: 1000px;
  margin: auto;
}

.container{
  padding: 30px 10px;
  transform: skew(0deg, 6deg);
}
.container-flat{
  padding: 10px;
}

.sec2 p {
  padding: 0 200px 150px;
  color: white;
  text-align: right;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}


/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.pop {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
}

.pop-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.pop p {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
}

.pop a:hover, .pop a:focus {
    color: black;
}

.pop .closebtn {
    position: absolute;
    text-decoration: none;
    top: 20px;
    right: 45px;
    font-size: 60px;
    transition: 0.3s;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
    .column {
        width: 100%;
    }
    .main {
      max-width: 500px;
      margin: auto;
    }
    .skewedBox {
      padding-top: 0px;
      padding-bottom: 0px;
      transform: skew(0deg, 0deg) translateY(0px);
    }
    .container{
	padding: 10px 0px 40px 0px;
      transform: skew(0deg, 0deg);
    }
    nav {
        justify-content: center;
        padding: 0 1em 0 0;
    }
    .content {
        padding: 0px;
    }
    .pop a {font-size: 20px}
    .pop .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
    }
}

/* red: f98ca4;
blue: 4ad9db;
$green: 65f283;
$orange: f5b10b; */

p.title {
  font-size: 50px;
  text-align: center;
  margin-top: 40px;
  color: #3a50d9;
  font-family: 'Work Sans', sans-serif;
  text-shadow: -2px 2px 0 #e0eff2;
  line-height: 1;
  text-shadow:
	-1px -1px 0 #3a50d9, 1px -1px 0 #3a50d9,
    -1px 1px 0 #3a50d9, 1px 1px 0 #3a50d9,
    1px 0px 0px #3a50d9, 0px 1px 0px #3a50d9,
    2px 1px 0px #3a50d9, 1px 2px 0px #3a50d9,
    3px 2px 0px #3a50d9, 2px 3px 0px #3a50d9,
    4px 3px 0px #3a50d9, 3px 4px 0px #3a50d9,
    5px 4px 0px #3a50d9, 3px 5px 0px #3a50d9,
    6px 5px 0px #3a50d9, 0 3px 0 #3a50d9,
    1px 4px 0 #3a50d9, 2px 5px 0px #3a50d9,
    2px -1px 0 #3a50d9, 3px 0 0 #3a50d9,
    4px 1px 0 #3a50d9, 5px 2px 0px #3a50d9,
    6px 3px 0 #3a50d9, 7px 4px 0 #3a50d9

  &:after,
	&:before {
		position: absolute;
		overflow: hidden;
		left: 0;
		width: 100%;
		top: 0;
		z-index: 5;
	}
  }
