html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  /* word-spacing: 2em; */
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

p {
  font-weight: bold;
  color: black;
  font-size: 16px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.title {
    font-size: 24px;
    font-family: "Work Sans", sans-serif;
    letter-spacing: 3px;
}

.hello {
    font-family: 'Work Sans';
    font-weight: bold;
    color: black;
    font-size: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 65px);
}

.hello-img {
    width: 35%;
    // padding-top: 50px;
}

p.cardText {
  /* font-family: "Work Sans", sans-serif; */
  color: black;
  font-size: 30px;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

img {
   width: 100%;
   max-width: 500px; /*actual image width*/
   height: auto; /* maintain aspect ratio*/
   margin: auto; /*optional centering of image*/
   border-radius: 5px; 
}

.overlay {
    opacity:0; /* Completely invisible. */
    transition: 0.2s;
    border-radius: 5px; 
    background-color: #FAFAA2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.overlay:hover{
    opacity:0.97; /* Somewhat visible. */
}

nav {
  display: flex;
  justify-content: flex-end;
}

.left {
    padding: 0.7em 0 0 1em;
    float: left;
}

ul {
  display: flex;
  list-style: none;
}

li {
  padding: 0 1.5em 0 0;
}

a {
  text-decoration: none;
  /* font-family: 'IBM Plex Serif', serif; */
  font-family: "Work Sans", sans-serif;
  color: black;
  font-size: 20px;
}

a.underscore:hover {
  border-bottom: 2px solid black; //#A0EBEC
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  background: white;
  font-family: "system";
}

.changeColor {
    background: white;
 }

.footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.main {
    max-width: 1000px;
    margin: auto;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 20px;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: #F6F6F6; //1F8AFC
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.pop {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;

}

.pop-content {
    position: relative;
    top: 10%;
    padding: 0 10% 5% 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.pop .closebtn {
    position: absolute;
    text-decoration: none;
    top: 20px;
    right: 45px;
    font-size: 60px;
    transition: 0.3s;
}

.pop p {
  /* font-family: "Work Sans", sans-serif; */
  font-size: 16px;
  padding: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #818181;
}

.pop h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 30px;
}

.pop img {
    max-width: 100%;
    max-height: 100%;
}

.icon {
    margin: 0 6px 0 0;
}

.icon img {
    width:20px;
    padding-top:10px;
}
.about-blurb {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    z-index: 2;
    margin-top: 8px;
    padding: 10px;
}

.about-1 {
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 300; 
    border: solid black 2px;
}

.about-row {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    flex-wrap: wrap;
    width: 100%;
}

.about-col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.about-left {
    border: solid black 2px;
    text-align: left;
    padding-left: 40px;
    padding-top: 18px;
    padding-bottom: 40px;
    margin-right: 8px;
}

.about-right {
    padding: 40px;
    background-color: #FAFAA2;
    text-align: left;
    position: relative; 
}

#bottom { 
    position:absolute;   
    padding: 40px;               
    bottom:0;                          
    left:0;                          
} 
#heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 300; 
}

.about-imagepop > span { 
    visibility: hidden;
    text-align: center;
    border: solid black 2px;
    background-color: white;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    text-align: center;
    margin: 14px;
}

a:hover>span { 
    visibility: visible;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
    .column {
        width: 100%;
    }
    .row,
    .row > .column {
        padding: 10px;
    }
    .main {
      max-width: 500px;
      margin: auto;
    //   flex-direction: column;
    }
    .container {
        padding: 10px 0px 20px 0px;
        display: flex;
        flex-direction: column;
    }

    .left{
        justify-content: center;
        text-align: center;
        padding: 0 0 0 0;
    }

    nav {
        justify-content: center;
        padding: 0 1em 0 0;
    }
    .content {
        padding: 0px;
    }
    /* .pop p {font-size: 12px} */
    .pop .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
    }

    .hello {
        font-size: 20px;
    }

    .hello-img {
        width: 50%;
    }

    .about-row {
        display:unset;
    }

    .about-left {
        margin-right: unset;
    }

    .about-right {
        margin-top: 8px;
    }

    #bottom { 
        position:relative;   
        padding: unset;                                      
    } 
}

/* red: f98ca4;
blue: 4ad9db;
$green: 65f283;
$orange: f5b10b; */

.post-it {
    height: 200px;
    width: 250px;
    font-size: 9px;
    margin: 40px;
    line-height: 25px;
    padding: 10px 10px 10px 10px;
    border:1px solid #E8E8E8;
    // border-bottom-right-radius: 60px 5px;
    position: relative; 
    text-align: center;
    // display: inline-block;
    word-wrap: break-word;
  }
  
  .post-it:after {     
    content: "";
    position:absolute;
    z-index:-1;
    right:-0px; bottom:20px;
    width:200px;
    height: 25px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
    transform: matrix(-1, -0.1, 0, 1, 0, 0);
  }
  
  
  .yellow {
    background: linear-gradient(135deg, #fafaa3 81%,#fafaa3  82%,#fafaa3 82%,#ffffc6 100%);
      border-top:50px solid #fafaa3;
  }
  
  .blue {
    background: linear-gradient(135deg, #C1E4F8 81%,#C1E4F8  82%,#C1E4F8 82%,#d7f6f8 100%);
      border-top:50px solid #C1E4F8;
  }
  
  .pink {
    background: linear-gradient(135deg, #ffd5c9 81%,#ffd5c9  82%,#ffd5c9 82%,#ffe9e2 100%);
    border-top:60px solid #ffd3c6;
  }
  
  .color-violet {
    background-color: #7A4EAB;
  }

  .typewrite {
    color: black;
    padding: 40px 0;
    /* text-transform: uppercase; */
    letter-spacing: 0.1em;
    overflow: hidden;
  }
  
  .typewrite .letter {
    display: inline-block;
    line-height: 1em;
  }

  .highlight a {
    /* background-color: #FFFF99; */
    background-image: linear-gradient(to right, transparent 50%, yellow 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    font-weight: 800;
    font-size: 1.75em;
    /* color: #222;
    font-size: 1.75em; */
    /* line-height: 1.15em; */
    text-decoration: none;
    transition: background-position 0.5s ease-out;
  }

  .highlight a:hover {
    background-position: -99.99% 0;
  }

  .underline--magical {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
  }

  .underline--magical:hover {
    background-size: 100% 88%;
  }
  
  .arrow {
    box-sizing: border-box;
    height: 4vw;
    width: 4vw;
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
  }

  .arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
  }

  footer {
    text-align: center;
    margin: 50px;
    font-size: 1em;
  }

